/docker-compose-collection
/storage/dcc-data/
/node_modules
/public/hot
/public/css
/public/js
/public/vendor
/public/themes
/public/fonts
/vendor/*
!/vendor/authorizenet

/data
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/ignorables/*
yarn.lock
package-lock.json
yarn.lock
.php_cs.cache
storage/*.key
/resources/themes/velocity/*
/resources/lang/vendor/webkul/admin/*

/packages/KLB/Themes/node_modules/*

.phpunit.result.cache
.git
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
# Random file created by macOS
.DS_Store
static/.DS_Store
# Junk files created by Docker image
/.bash_history
.bash_history
.gitconfig
/.env
/storage/logs/*
/.vscode-server
/.npm
/.ssh
/static
/.composer
/.viminfo

/packages/KLB/Themes/publishable/assets/css/KLB.css
/packages/KLB/Themes/publishable/assets/mix-manifest.json
